body {
  text-align: center;
  background-color: aquamarine;
  color: red;
}

div {
  float: left;
  width: 33%;
 
}

p {
  text-align: center;
  
}

div.during {
  color: purple;
}

h2 {
  color: black;
}