body {
  text-align: center;
  background-color: aquamarine;
  color: red;
}

div {
  float: left;
  width: 31%
 
}

p {
  text-align: center;
  
}

div.before {
  background-color: bisque;
}

div.during {
  color: purple;
  background-color: chartreuse;
  margin-left: 20px;
  margin-right: 20px;
}

div.after {
  background-color: cornsilk;
}

h2 {
  color: black;
}